CMS_BASE_URL=http://127.0.0.1:8082/
CMS_FORCE_HTTPS=false
CMS_ENCRYPTION_KEY=change-this-key
CMS_SESSION_PATH=
CMS_CSRF_PROTECTION=false

CMS_API_IP=127.0.0.1:5400
CMS_API_USER=api-user
CMS_API_PASS=api-password

CMS_QVAPAY_ID=
CMS_QVAPAY_SECRET=

CMS_SUPPORT_EMAIL=
CMS_SUPPORT_EMAIL_PASSWORD=
