.navbar-novo{
    background-color: rgb(0 0 0 / 50%) !important; 
    color: black !important;
}
.cards-novo{
    background-color: rgb(0 0 0 / 50%) !important; 
    color: white !important;
    border-radius: 10px !important;
}
.tables-novo{
    background-color: rgb(0 0 0 / 50%) !important; 
    color: white !important;
    border: 0 !important;
}
.sidebar-novo{
    background-color: rgb(0 0 0 / 50%) !important; 
    color: white !important;
}
body{
    background-repeat: no-repeat;
    height: 100%;
}
.wow {
    visibility: hidden;
  }
  .footer-bottom{
    position: fixed;
    width: 100%;
}
.filter-white{
    -webkit-filter: invert(96%) sepia(1%) saturate(2%) hue-rotate(190deg) brightness(111%) contrast(100%);
            filter: invert(96%) sepia(1%) saturate(2%) hue-rotate(190deg) brightness(111%) contrast(100%);
}
td{
    color: white !important;
}
th{
    color: white !important;
}
.form-admin{
    padding-left: 10px;
    padding-right: 10px;
}
::-moz-color-swatch {
    border-color: red;
}

